/* Start: Cart */
#cart {
    min-height: 1000px;
    border-top: 1px solid var(--gray-primary);
}

.cart_body-item {
    /* display: none !important; */
}

.cart_head,
.cart_body {
    display: flex;
}

.cart_body {
    justify-content: center;
    text-align: center;
}

.cart_body_btn {
    background-color: var(--black-primary) !important;
    color: var(--white-primary) !important;
    margin-top: 20px;
    padding: 15px 60px !important;
}

.cart_head_count {
    color: var(--white-primary);
    background-color: var(--red-primary);
    border-radius: 50%;
    margin-left: 20px;
    height: 50%;
    width: 30px;
    margin-top: 10px;
    text-align: center;
}

.card {
    text-align: left;
    flex-direction: row !important;
    padding: 10px;
    margin-bottom: 20px;
}

img[class^='card-img'] {
    width: 25%;
    object-fit: cover;
}

.card_amount_input {
    text-align: center;
    border: none;
    background-color: transparent;
    cursor: default;
}

.card_amount_input:focus {
    outline: none;
}

.card_amount_input::-webkit-outer-spin-button,
.card_amount_input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.card_amount-minus,
.card_amount-plus {
    color: var(--black-primary);
    background-color: var(--gray-primary);
    border: none;
    font-size: 20px;
    padding: 0 5px;
}

.card_amount-minus:hover,
.card_amount-plus:hover {
    background-color: var(--gray-second);
}

.card_abate-empty {
    border: 1px solid var(--gray-primary);
    border-radius: 2px;
    background-color: transparent;
    padding: 3px 10px;
    margin-right: 5px;
}

.card_abate-check,
.card_abate-empty:hover {
    background-color: var(--yellow-primary);
    position: relative;
}

.card_abate-check::after,
.card_abate-empty:hover::after {
    content: '\21C3';
    display: block;
    position: absolute;
    top: -50%;
    left: 50%;
    font-size: 25px;
    rotate: 40deg;
}

.card-body_footer {
    display: flex;
    justify-content: space-between;
}

.cart_body_bill {
    border: 2px solid var(--gray-primary);
    height: fit-content;
    padding-bottom: 20px;
}

.cart_body_bill_group {
    display: flex;
    justify-content: space-between;
}

.cart_body_bill_group_input {
    width: 75%;
    padding: 0 10px;
}

.cart_body_bill_group_btn {
    background-color: var(--black-primary) !important;
    border: none;
    color: var(--white-primary) !important;
}

.cart_body_bill-line {
    border-bottom: 1px solid var(--gray-primary);
    margin-bottom: 5%;
    padding-bottom: 10px;
}

.cart_body_bill_group_btn-back {
    background-color: var(--white-primary) !important;
    color: var(--black-primary) !important;
    border: 2px solid var(--black-primary) !important;
}

[class*='cart_body_bill_group_btn']:hover {
    background-color: var(--yellow-primary) !important;
    color: var(--white-primary) !important;
    border: none !important;
}