/* Start: Footer */
#footer {
    background-color: var(--background-footer-second);
    color: white;
}

#footer a {
    color: white;
    text-decoration: none;
    display: inline;
}

#footer a:hover {
    text-decoration: underline;
}

.footer_list .footer_list_item:first-child {
    margin-bottom: 10px;
}

.footer_list .footer_list_item:first-child::after {
    content: "";
    display: block;
    width: 10%;
    height: 2px;
    background-color: var(--yellow-primary);
    position: relative;
    top: 0;
    z-index: 1;
}

.footer_list_item {
    margin-bottom: 8px;
}

.footer_list_item i {
    margin-right: 4px;
}

.footer_list_item_img {
    width: 50%;
    object-fit: cover;
}

.footer_coppyright {
    border-top: 2px solid var(--gray-second);
    padding: 30px 0;
}

/* End: Footer */