/* Start: Phần sản phẩm */
/* 
    Create: Nguyễn Khải Nam
    Date: 30/10/2023
    Note: Phần điều chỉnh sản phẩm của admin
*/
#product {
    width: 100%;
}

.nav-item .nav-link {
    margin-right: 8px;
}

.nav-item .nav-link:hover {
    color: var(--yellow-primary);
}


.card {
    text-align: left;
    flex-direction: row !important;
    padding: 10px;
    margin-bottom: 20px;
}

img[class^='card-img'] {
    width: 25%;
    object-fit: cover;
}

.card_amount_input {
    text-align: center;
    border: none;
    background-color: transparent;
    cursor: default;
}

.card_amount_input:focus {
    outline: none;
}

.card_amount_input::-webkit-outer-spin-button,
.card_amount_input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.card_amount-minus,
.card_amount-plus {
    color: var(--black-primary);
    background-color: var(--gray-primary);
    border: none;
    font-size: 20px;
    padding: 0 5px;
}

.card_amount-minus:hover,
.card_amount-plus:hover {
    background-color: var(--gray-second);
}

.card_abate-empty {
    border: 1px solid var(--gray-primary);
    border-radius: 2px;
    background-color: transparent;
    padding: 3px 10px;
    margin-right: 5px;
}

.card_abate-check,
.card_abate-empty:hover {
    background-color: var(--yellow-primary);
    position: relative;
}

.card_abate-check::after,
.card_abate-empty:hover::after {
    content: '\21C3';
    display: block;
    position: absolute;
    top: -50%;
    left: 50%;
    font-size: 25px;
    rotate: 40deg;
}

.card-body_footer {
    display: flex;
    justify-content: space-between;
}

.header_search {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    border-radius: 6px;
    background-color: var(--white-primary);
}

.header_search .search {
    border-radius: 6px;
    background-color: var(--white-primary);
    outline: none;
    border: none;
    width: 100%;
    padding: 0 10px;
    font-size: 16px;
}

::placeholder {
    font-size: 14px;
    font-weight: 600;
}

.header_search .search_logo {
    width: 61px;
    display: flex;
    cursor: pointer;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    background-color: var(--yellow-primary);
    transition: 0.3s ease;
}

.search_logo:hover {
    background-color: var(--yellow-second);
}

#product select {
    min-width: 150px;
    border-radius: 5px;
    margin-left: 20px;
    height: 100%;
}

#product select:focus {
    outline: none;
}

#product .card-text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

/* End: Phần sản phẩm */
/* 
    Start: Phần thống kê sản phẩm
*/

.statstics .row {
    padding-right: 0;
    margin-right: 0;
    width: 100%;
    --bs-gutter-x: 0;
}

.statstics .card-group {
    justify-content: space-between;
    padding-right: 0;
    margin-right: 0;

}

.statstics .card {
    margin-right: 20px;
    border: none;
    border-radius: 5px !important;
}

.chart {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    position: relative;
}

.operating-systems {
    display: flex;
    justify-content: space-between;
    width: 215px;
    margin-top: 30px;
    margin-bottom: 50px;
}

span[class*="os"] {
    font-size: 14px;
    font-weight: 300;
    font-size: 14px;
    color: black;
}

span[class*="os"] span {
    width: 9px;
    height: 9px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 9px;
}

.os3-os span {
    background: #80B354;
}

.os1-os span {
    background: #F5A623;
}

.os2-os span {
    background: #F8E71C;
}

div[class*="-stats"] {
    position: absolute;
    color: #fff;
    font-size: 12px;
    display: flex;
    opacity: 0;
    animation: showstats 0.6s linear 1.8s;
    animation-fill-mode: forwards;
}

div[class*="-stats"] span {
    height: 12px;
    width: 12px;
    margin: 0 7px;
    background-color: #fff;
    border: 2px solid transparent;
    border-radius: 50%;
}

.os3-stats {
    bottom: 155px;
    right: 230px;
}

.os1-stats {
    bottom: 83px;
    left: 133px;
}

.os2-stats {
    bottom: 133px;
    right: 62px;
}

.svg-container {
    width: 100%;
    height: 100%;
}

/* End: Phần thống kê sản phẩm */