#statistic_admin {
    width: 100%;
}

::placeholder {
    font-size: 14px;
    font-weight: 600;
}


#statistic_admin .table_user td,
#statistic_admin .table_user th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: var(--gray-primary);
}

#statistic_admin .submit {
    border: none;
    background-color: var(--yellow-primary);
    border-radius: 5px;
    margin-left: 10px;
    padding: 0px 20px;
}

#statistic_admin .submit:hover {
    opacity: 0.8;
}

#statistic_admin .row {
    padding-right: 0;
    margin-right: 0;
    width: 100%;
    --bs-gutter-x: 0;
}

#statistic_admin .card-group {
    justify-content: space-between;
    padding-right: 0;
    margin-right: 0;

}

#statistic_admin .card {
    margin-right: 20px;
    border: none;
    border-radius: 5px !important;
}

.chart {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    position: relative;
}

.operating-systems {
    display: flex;
    justify-content: space-between;
    width: max-content;
    margin-top: 30px;
    margin-bottom: 50px;
}

span[class*="os"] {
    font-size: 14px;
    font-weight: 300;
    font-size: 14px;
    margin-right: 5px;
    margin-left: 5px;
    color: black;
}

span[class*="os"] span {
    width: 9px;
    height: 9px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 9px;
}

.os3-os span {
    background: #80B354;
}

.os1-os span {
    background: #F5A623;
}

.os2-os span {
    background: #F8E71C;
}

div[class*="-stats"] {
    position: absolute;
    color: #fff;
    font-size: 12px;
    display: flex;
    opacity: 0;
    animation: showstats 0.6s linear 1.8s;
    animation-fill-mode: forwards;
}

div[class*="-stats"] span {
    height: 12px;
    width: 12px;
    margin: 0 7px;
    background-color: #fff;
    border: 2px solid transparent;
    border-radius: 50%;
}

.os3-stats {
    bottom: 155px;
    right: 230px;
}

.os1-stats {
    bottom: 83px;
    left: 133px;
}

.os2-stats {
    bottom: 133px;
    right: 62px;
}

.svg-container {
    width: 100%;
    height: 100%;
}