:root {
    --color-primary: #ffd814;
    --color-gray: #6f6f73;
    --background-footer: #232f3e;
    --backgorund-primary: #eaeded;
    --fsize-normal: 16px;
}

* {
    margin: 0;
    padding: 0;
    font-size: var(--fsize-normal);
    font-family: Arial, Helvetica, sans-serif;
}

li {
    list-style: none;
}