@charset "UTF-8";

#overview {
	width: 100%;
	min-height: 100%;
}

#overview .card {
	width: 18rem;
}

#overview .fa-star {
	color: yellow;
}

#overview .form-group {
	width: 100%;
}

#overview .form-control {
	width: 100%;
	display: inline;
}

#overview label {
	margin-top: 5px;
	margin-bottom: 5px;
}

#overview label:first-child {
	margin-top: 0;
}