@charset "UTF-8";

#overview {
	width: 100%;
	min-height: 100%;
}

#overview .card {
	width: 18rem;
}

#overview .fa-star {
	color: yellow;
}

#overview .form-group {
	margin-bottom: 15px;
}

.form-group i {
	margin-right: 7px;
}

.form-group label{
	display: flex;
	justify-content: left;
	align-items: center;
	font-size: 16px;
	margin-bottom: 5px;
}

#overview .form-control {
	width: 100%;
	display: inline;
}

#overview .form-control:focus {
	border: 1px solid var(--gray-second);
	box-shadow: none;
}


#overview label:first-child {
	margin-top: 0;
}

#overview .resest-password {
	display: none;
	width: 100%;
}