@charset "UTF-8";

body{
	position: relative;
}
#slidershowAdmin {
	width: 100%;
}

#slidershowAdmin .header_search{
    display: flex;
    border-radius: 6px;
    background-color: var(--white-primary);
    padding: 8px 0 8px 12px;
}

#slidershowAdmin .header_search .search {
    border-radius: 6px;
    height: 40px;
    background-color: var(--white-primary);
    outline: none;
    border: 1px solid var(--gray-second);
    font-size: 16px;
    padding: 0 10px;
}

::placeholder {
    font-size: 14px;
    font-weight: 600;
}

#slidershowAdmin  .header_search .search_logo {
    width: 50px;
    display: flex;
    cursor: pointer;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    background-color: var(--yellow-primary);
    transition: 0.3s ease;
}


#slidershowAdmin .card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#slidershowAdmin .card img{
    width: 30%;
    height: 30%;
}